$primary: "blue";
@import 'ember-paper';

$titleHeight: 60px;

.move-up {
  position: relative;
  top: $titleHeight * -1;
  z-index: 99;
}

.titleHeight {
  height: $titleHeight;
  font-size: 20px;
}

.s12 {
  width: 100%;
}







.md-button-header-right.md-fab.md-warn.ember-view.paper-button.md-default-theme.md-button {
  position: absolute;
  right: 15px;
  bottom: -39px;
}

.card-header {
  padding: 20px 16px;
}

.pad5margin5 {
  padding: 5px;
  margin: 5px;
}
.maneuverscoreFooter {
  @extend .pad5margin5;
  text-align: center;
}
.manKFactor, .calcTotal{
  @extend .pad5margin5;
  width: 50px;
}
.manName {
  @extend .pad5margin5;
  text-align: right;
}
.score input {
  @extend .manKFactor;
  text-align: center;
  border: none;
  border-bottom: 1px solid #333;
}
.droppedLow input, .legend.low {
  @extend .pad5margin5;
  color: #A2A2A2;
  font-style: italic;
  background-color: #FFF4F6;
}
.droppedHigh input, .legend.high {
  @extend .pad5margin5;
  color: #A2A2A2;
  font-style: italic;
  background-color: #FFF8EB;
}
.score-row {
  border-top-color: rgba(0, 0, 0, 0.12);
  margin: 3px 0;
}
table .score-grid {
  border-collapse: collapse;
  border: 5px solid red;
}