$primary: "blue";
@import 'ember-paper';

.md-button-header-right.md-fab.md-warn.ember-view.paper-button.md-default-theme.md-button {
  position: absolute;
  right: 15px;
  bottom: -32px;
}

.card-header {
  padding: 20px 16px;
}


