<div class="card-content">
    {{#if title}}
        <h2 class="md-title">{{title}}</h2>
    {{/if}}
    {{yield}}

</div>
{{#if attrs.onsubmit}}
    {{#paper-dialog-actions class="layout-row"}}
        <span flex></span>
        {{#if attrs.oncancel}}
            {{#paper-button primary=true onClick=(action "oncancel")}}{{cancelButtonText}}{{/paper-button}}
        {{/if}}
        {{#paper-button primary=true disabled=buttonDisabled onClick=(action "onsubmit" model)}}{{submitButtonText}}{{/paper-button}}
    {{/paper-dialog-actions}}
{{/if}}