{{#paper-card}}
    {{#paper-toolbar class="card-header"}}
        Pilots
    {{/paper-toolbar}}


    {{#paper-card-content}}

            {{#paper-list}}
                {{#each model as |pilot|}}
                    {{#paper-item}}
                        <div class="md-list-item-text">
                            <h5>{{pilot.fullName}}</h5>
                            <h6>{{pilot.email}}</h6>
                        </div>
                    {{/paper-item}}
                    {{paper-divider}} {{! OR {{paper-divider inset=true}}

                {{/each}}

            {{/paper-list}}

    {{/paper-card-content}}
{{/paper-card}}
