{{#paper-card as |card|}}

    {{#card.title as |title|}}
        {{#title.text as |text|}}
            {{#text.headline}}Rounds{{/text.headline}}
        {{/title.text}}
    {{/card.title}}

    {{#card.content}}
        {{#paper-list}}
        {{#each filteredRounds as |round|}}

                <div class="md-list-item-text">
                {{#link-to "round" contest.id pilotclass.id round.id}}{{round.name}}{{/link-to}}
                - {{#link-to "rounds.results" contest.id pilotclass.id round.id}}Results{{/link-to}}
                </div>

        {{/each}}
        {{/paper-list}}
    {{/card.content}}
    {{#card.actions}}
        {{#paper-button onClick=(action "clickedNewRound" contest.id pilotclass.id)}}New Round{{/paper-button}}
    {{/card.actions}}
{{/paper-card}}