{{#paper-dialog fullscreen=fullscreen clickOutsideToClose=true onClose=(action attrs.oncancel)}}

    {{#paper-dialog-content}}

        {{#x-card
        onsubmit=attrs.onsubmit
        oncancel=attrs.oncancel
        title='Register with Contest Director'
        cancelButtonText='Cancel'
        submitButtonText='Register'
        }}

            <div class="row">
                {{x-input
                classNames='col s12'
                type='email'
                label='Username'}}
            </div>
            <div class="row">
                {{x-input
                classNames='col s12'
                type='password'
                label='Password'}}
            </div>
            <div class="row">
                {{x-input
                classNames='col s12'
                type='password'
                label='Confirm Password'}}
            </div>
        {{/x-card}}
    {{/paper-dialog-content}}


{{/paper-dialog}}
