{{#paper-card}}
    {{#paper-card-content}}
        <h3>{{contest.name}}</h3>
        {{#paper-list}}
            {{#each filteredPilotClasses as |pilotclass|}}
                {{paper-divider}}
                {{#paper-item class="md-3-line"}}
                    <div class="md-list-item-text">
                        <h3>{{pilotclass.name}}</h3>
                        <p>
                        {{#link-to "contest.registration" pilotclass.id}}Registration{{/link-to}}
                        </p>
                        <p>
                            {{registered-pilots-by-pilotclass contest=contest pilotclass=pilotclass}}
                        </p>
                    </div>
                {{/paper-item}}
            {{/each}}
        {{/paper-list}}
    {{/paper-card-content}}
{{/paper-card}}