{{#paper-nav-container class="site-nav-container"}}
    {{#paper-sidenav class="md-sidenav-left md-whiteframe-z3 site-sidenav" locked-open="gt-sm"}}
        {{#paper-toolbar class="site-content-toolbar" tall=true}}
            <div class="logo layout-column layout-align-center-center">

                <div>Contest Director</div>
            </div>
        {{/paper-toolbar}}

        {{#paper-content}}

            {{#paper-list}}

                {{#menu-item active=(is-active 'index' currentRouteName) onClick=(transition-to "index")}}Home{{/menu-item}}

                {{#menu-item onClick=(action 'toggleAdminExpanded') expanded=adminExpanded canExpand=true}}Setup{{/menu-item}}

                <div class="submenu">
                    {{#liquid-if adminExpanded}}
                        {{#submenu-item active=(is-active 'admin.setup.aircrafttypes' currentRouteName) onClick=(transition-to "admin.setup.aircrafttypes")}}Aircraft Types{{/submenu-item}}
                        {{#submenu-item active=(is-active 'admin.setup.pilotclasses' currentRouteName) onClick=(transition-to "admin.setup.pilotclasses")}}Pilot Classes{{/submenu-item}}
                        {{#submenu-item active=(is-active 'demo.autocomplete' currentRouteName) onClick=(transition-to "demo.autocomplete")}}Maneuver Sets{{/submenu-item}}
                        {{#submenu-item active=(is-active 'demo.autocomplete' currentRouteName) onClick=(transition-to "demo.autocomplete")}}Maneuvers{{/submenu-item}}
                    {{/liquid-if}}
                </div>
            {{/paper-list}}

        {{/paper-content}}
    {{/paper-sidenav}}

    <div layout="column" tabindex="-1" role="main" flex>

        {{page-toolbar
            clickLogin=(action "clickLogin")
            clickRegistration=(action "clickRegistration")
            clickSignout=(action "clickSignout")
        }}

        {{#paper-content flex=true scroll-y=true layout-padding=true}}
            <div class="doc-content">

                {{liquid-outlet}}

            </div>
        {{/paper-content}}

    </div>

{{/paper-nav-container}}
