
<div layout="column">
    <md-toolbar flex="20" class="md-tall">
        <md-toolbar>
            <div class="md-toolbar-tools">
                {{#paper-button target=toggle action="toggleMenu" icon-button=true}}{{paper-icon icon="menu"}}{{/paper-button}}

                <span flex></span>

            </div>
        </md-toolbar>
    </md-toolbar>





        <div layout-align="center start" layout="row">
        <md-content class="md-whiteframe-z3 move-up" flex="80">



            {{liquid-outlet}}
        </md-content>
    </div>
</div>
